:root {
    font-family: 'Raleway', sans-serif;
    --md-sys-color-primary: rgb(97 97 24);
    --md-sys-color-surface-tint: rgb(97 97 24);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(232 231 143);
    --md-sys-color-on-primary-container: rgb(29 29 0);
    --md-sys-color-secondary: rgb(97 96 67);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(231 228 191);
    --md-sys-color-on-secondary-container: rgb(29 29 6);
    --md-sys-color-tertiary: rgb(61 102 87);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(191 236 216);
    --md-sys-color-on-tertiary-container: rgb(0 33 23);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(253 249 236);
    --md-sys-color-on-background: rgb(28 28 20);
    --md-sys-color-surface: rgb(253 249 236);
    --md-sys-color-on-surface: rgb(28 28 20);
    --md-sys-color-surface-variant: rgb(230 227 209);
    --md-sys-color-on-surface-variant: rgb(72 71 58);
    --md-sys-color-outline: rgb(121 120 105);
    --md-sys-color-outline-variant: rgb(202 199 182);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(49 49 40);
    --md-sys-color-inverse-on-surface: rgb(244 241 227);
    --md-sys-color-inverse-primary: rgb(203 203 118);
    --md-sys-color-primary-fixed: rgb(232 231 143);
    --md-sys-color-on-primary-fixed: rgb(29 29 0);
    --md-sys-color-primary-fixed-dim: rgb(203 203 118);
    --md-sys-color-on-primary-fixed-variant: rgb(73 73 0);
    --md-sys-color-secondary-fixed: rgb(231 228 191);
    --md-sys-color-on-secondary-fixed: rgb(29 29 6);
    --md-sys-color-secondary-fixed-dim: rgb(202 200 165);
    --md-sys-color-on-secondary-fixed-variant: rgb(73 72 45);
    --md-sys-color-tertiary-fixed: rgb(191 236 216);
    --md-sys-color-on-tertiary-fixed: rgb(0 33 23);
    --md-sys-color-tertiary-fixed-dim: rgb(164 208 189);
    --md-sys-color-on-tertiary-fixed-variant: rgb(37 78 64);
    --md-sys-color-surface-dim: rgb(221 218 205);
    --md-sys-color-surface-bright: rgb(253 249 236);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(247 244 230);
    --md-sys-color-surface-container: rgb(241 238 224);
    --md-sys-color-surface-container-high: rgb(236 232 219);
    --md-sys-color-surface-container-highest: rgb(230 227 213);

    @media (prefers-color-scheme: dark) {
        --md-sys-color-primary: rgb(180, 180, 70);
        --md-sys-color-surface-tint: rgb(180, 180, 70);
        --md-sys-color-on-primary: rgb(50 50 0);
        --md-sys-color-primary-container: rgb(73 73 0);
        --md-sys-color-on-primary-container: rgb(232 231 143);
        --md-sys-color-secondary: rgb(202 200 165);
        --md-sys-color-on-secondary: rgb(50 50 24);
        --md-sys-color-secondary-container: rgb(73 72 45);
        --md-sys-color-on-secondary-container: rgb(231 228 191);
        --md-sys-color-tertiary: rgb(164 208 189);
        --md-sys-color-on-tertiary: rgb(11 55 42);
        --md-sys-color-tertiary-container: rgb(37 78 64);
        --md-sys-color-on-tertiary-container: rgb(191 236 216);
        --md-sys-color-error: rgb(255 180 171);
        --md-sys-color-on-error: rgb(105 0 5);
        --md-sys-color-error-container: rgb(147 0 10);
        --md-sys-color-on-error-container: rgb(255 218 214);
        --md-sys-color-background: rgb(20 20 12);
        --md-sys-color-on-background: rgb(230 227 213);
        --md-sys-color-surface: rgb(20 20 12);
        --md-sys-color-on-surface: rgb(230 227 213);
        --md-sys-color-surface-variant: rgb(72 71 58);
        --md-sys-color-on-surface-variant: rgb(202 199 182);
        --md-sys-color-outline: rgb(147 145 130);
        --md-sys-color-outline-variant: rgb(72 71 58);
        --md-sys-color-shadow: rgb(0 0 0);
        --md-sys-color-scrim: rgb(0 0 0);
        --md-sys-color-inverse-surface: rgb(230 227 213);
        --md-sys-color-inverse-on-surface: rgb(49 49 40);
        --md-sys-color-inverse-primary: rgb(97 97 24);
        --md-sys-color-primary-fixed: rgb(232 231 143);
        --md-sys-color-on-primary-fixed: rgb(29 29 0);
        --md-sys-color-primary-fixed-dim: rgb(203 203 118);
        --md-sys-color-on-primary-fixed-variant: rgb(73 73 0);
        --md-sys-color-secondary-fixed: rgb(231 228 191);
        --md-sys-color-on-secondary-fixed: rgb(29 29 6);
        --md-sys-color-secondary-fixed-dim: rgb(202 200 165);
        --md-sys-color-on-secondary-fixed-variant: rgb(73 72 45);
        --md-sys-color-tertiary-fixed: rgb(191 236 216);
        --md-sys-color-on-tertiary-fixed: rgb(0 33 23);
        --md-sys-color-tertiary-fixed-dim: rgb(164 208 189);
        --md-sys-color-on-tertiary-fixed-variant: rgb(37 78 64);
        --md-sys-color-surface-dim: rgb(20 20 12);
        --md-sys-color-surface-bright: rgb(58 58 48);
        --md-sys-color-surface-container-lowest: rgb(15 15 7);
        --md-sys-color-surface-container-low: rgb(28 28 20);
        --md-sys-color-surface-container: rgb(32 32 24);
        --md-sys-color-surface-container-high: rgb(43 42 34);
        --md-sys-color-surface-container-highest: rgb(54 53 44);
    }

    --md-sys-motion-easing-emphasized: cubic-bezier(0.4, 0, 0, 1);
    --md-sys-motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1.0);
    --md-sys-motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0.0, 0.8, 0.15);
    --custom-easing-emphasized: var(--md-sys-motion-easing-emphasized);
    --custom-easing-emphasized: linear(
        0, 0.01 3.6%, 0.034, 0.074 9.1%, 0.128 11.4%, 0.271 15%, 0.544 18.3%,
        0.66 20.6%, 0.765 24.6%, 0.845 30.4%, 0.883 35.1%, 0.916 40.6%, 0.942 47.2%,
        0.963 55%, 0.991 74.4%, 1
    );
    --elastic-easing: cubic-bezier(0.4, -0.55, 0.265, 2);
    --elastic-easing: linear(
        0, 0.002, 0.009 1.1%, 0.038 2.2%, 0.155 4.8%, 0.309 7.1%, 0.779 13.5%,
        1.001 17.3%, 1.08, 1.141, 1.185, 1.212 24.6%, 1.221, 1.224, 1.219 28.6%,
        1.207 30.2%, 1.17 33.1%, 1.058 39.9%, 1.011 43.3%, 0.973 47.1%, 0.962,
        0.954 51%, 0.95 53.9%, 0.954 57.1%, 0.996 69.9%, 1.009, 1.011 83.7%, 0.999
    );
    --bounce-easing: linear(
        0, 0.004, 0.016, 0.035, 0.063, 0.098, 0.141 13.6%, 0.25, 0.391, 0.563, 0.765,
        1, 0.891 40.9%, 0.848, 0.813, 0.785, 0.766, 0.754, 0.75, 0.754, 0.766, 0.785,
        0.813, 0.848, 0.891 68.2%, 1 72.7%, 0.973, 0.953, 0.941, 0.938, 0.941, 0.953,
        0.973, 1, 0.988, 0.984, 0.988, 1
    );

    --slider-color-1: #616118;
    --slider-color-2: #3d6657;
    --slider-color-3: #006c91;
    --slider-color-4: #770043;
    --slider-color-5: #a41138;
    --slider-color-6: #ae3761;
    --slider-color-7: #042f2e;
    --slider-color-8: #9c4146;

    @media (prefers-color-scheme: dark) {
        --slider-color-1: #b4b446;
        --slider-color-3: #00afe9;
        --slider-color-4: #b41b71;
        --slider-color-5: #d21c4c;
        --slider-color-6: #be3f6b;
        --slider-color-7: #127372;
        --slider-color-8: #9c4146;
    }

    --slider-passive-color-1: var(--md-sys-color-surface-container-highest);
    --slider-passive-color-2: var(--md-sys-color-on-surface);
    --slider-passive-color-3: var(--md-sys-color-secondary-container);
    --slider-passive-color-4: var(--md-sys-color-inverse-surface);

    --slider-passive-color-1-text: var(--md-sys-color-on-surface);
    --slider-passive-color-2-text: var(--md-sys-color-inverse-on-surface);
    --slider-passive-color-3-text: var(--md-sys-color-on-surface);
    --slider-passive-color-4-text: var(--md-sys-color-inverse-on-surface);
}

html, body {
    height: 100%;
    width: 100%;
    overscroll-behavior: none;
}

* {
    scrollbar-width: none;
    scrollbar-color: var(--md-sys-color-primary);
}
::webkit-scrollbar {
    width: 3px;
    appearance: none;
    height: 3px;
}
::webkit-scrollbar-thumb {
    background-color: var(--md-sys-color-primary);
    border-radius: 6px;
}


@property --p1 {
    syntax: '<percentage>';
    initial-value: 20%;
    inherits: false;
}
@property --p2 {
    syntax: '<percentage>';
    initial-value: 65%;
    inherits: false;
}
@property --p3 {
    syntax: '<percentage>';
    initial-value: 95%;
    inherits: false;
}
@property --c1 {
    syntax: '<color>';
    initial-value: var(--md-sys-color-primary);
    inherits: false;
}
@property --c2 {
    syntax: '<color>';
        initial-value: #797943;
    inherits: false;
}
@property --c3 {
    syntax: '<color>';
    initial-value: var(--md-sys-color-primary);
    inherits: false;
}
:root {
    --primary-gradient-background-primary: var(--md-sys-color-primary);
    --on-surface-gradient-background-on-surface: var(--md-sys-color-on-surface);
}
.primary-gradient-background, .primary-container-gradient-background, .on-surface-gradient-background,.bg-light-gradient {
    // transition: all 100ms, color 0ms, --p1 100ms, --p2 100ms, --c1 100ms, --c2 100ms, --c3 100ms, --primary-gradient-background-primary 100ms, --on-surface-gradient-background-on-surface 100ms, --md-sys-color-surface-container-highest 100ms, --md-sys-color-inverse-surface 100ms;
    transition: all 100ms, color 0ms, --p1 100ms, --p2 100ms;
    &.bg-light-gradient {background: linear-gradient(180deg, transparent var(--p1), rgba(255,255,255,0.17) var(--p2), transparent var(--p3));}
    &.primary-gradient-background {background: linear-gradient(180deg, var(--primary-gradient-background-primary) var(--p1), var(--c2) var(--p2), var(--primary-gradient-background-primary) var(--p3));}
    &.on-surface-gradient-background {background: linear-gradient(180deg, var(--on-surface-gradient-background-on-surface) var(--p1), var(--md-sys-color-on-surface-variant) var(--p2), var(--on-surface-gradient-background-on-surface) var(--p3));}
    &.primary-container-gradient-background {
        background: linear-gradient(180deg, var(--md-sys-color-surface-container-highest) var(--p1), var(--md-sys-color-surface-container-highest) var(--p2), var(--md-sys-color-secondary-container) var(--p3));
        > * {filter: none}
    }
    
    @media (prefers-color-scheme: dark) {
        --c2: rgb(201, 201, 111);
        &.on-surface-gradient-background {background: linear-gradient(180deg, var(--md-sys-color-on-surface) var(--p1), rgb(216, 213, 200) var(--p2), var(--md-sys-color-on-surface) var(--p3));}
    }
    
    @supports (-moz-animation: none) {
        background: var(--md-sys-color-primary);
    }
    &:hover, &:focus-visible {
        --p1: 25%;
        --p2: 55%;
        --p3: 85%;
        /* --c2: rgba(100,100,100,1); */
    }
    &:active {
        transition-duration: 10ms;
    }

    >  * {
        filter: drop-shadow(0 2px 3px rgba(0,0,0,0.3));
    }
}

.button-shadow-default {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
}
.button-shadow-left {
    box-shadow: -1px 1px 5px 0 rgba(0,0,0,0.1);
}

.card-background {
    background-image: linear-gradient(150deg, var(--md-sys-color-surface-container-low) 15%, var(--md-sys-color-surface-dim) 95%);
}

button {
    touch-action: manipulation;
}

.scale-up {
    animation: scale-up 750ms var(--elastic-easing) forwards;
}
@keyframes scale-up {
    0% {scale: 0}
    100% {scale: 1}
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.easing-emphasized {transition-timing-function: var(--md-sys-motion-easing-emphasized);}
.easing-accelerate {transition-timing-function: var(--md-sys-motion-easing-emphasized-accelerate);}
.easing-decelerate {transition-timing-function: var(--md-sys-motion-easing-emphasized-decelerate);}
.easing-bounce-out {transition-timing-function: cubic-bezier(0.4, -0.55, 0.265, 2)}
.easing-quint-out {transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);}
.easing-bounce-out-light {transition-timing-function: cubic-bezier(0.4, 0, 0.265, 1.55)}
.easing-elastic {transition-timing-function: var(--elastic-easing)}
.no-transition-important {transition: none !important}

.raleway {font-family: 'Raleway', sans-serif;}

.material-symbols-rounded.semibold {
    font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 48;
}
.material-symbols-rounded.bold {
    font-variation-settings: 'FILL' 0, 'wght' 800, 'GRAD' 0, 'opsz' 48;
}

.duration-300 {transition-duration: 250ms;}

.animation-delay-50 { animation-delay: 50ms !important; }
.animation-delay-100 { animation-delay: 100ms !important; }
.animation-delay-150 { animation-delay: 150ms !important; }
.animation-delay-200 { animation-delay: 200ms !important; }
.animation-delay-250 { animation-delay: 250ms !important; }
.animation-delay-300 { animation-delay: 300ms !important; }
.animation-delay-350 { animation-delay: 350ms !important; }
.animation-delay-400 { animation-delay: 400ms !important; }
.animation-delay-450 { animation-delay: 450ms !important; }
.animation-delay-500 { animation-delay: 500ms !important; }
.animation-delay-600 { animation-delay: 600ms !important; }
.animation-delay-700 { animation-delay: 700ms !important; }
.animation-delay-800 { animation-delay: 800ms !important; }
.animation-delay-900 { animation-delay: 900ms !important; }
.animation-delay-1000 { animation-delay: 1000ms !important; } /* Or 1s */
.animation-delay-1100 { animation-delay: 1100ms !important; }
.animation-delay-1200 { animation-delay: 1200ms !important; }
.animation-delay-1300 { animation-delay: 1300ms !important; }
.animation-delay-1400 { animation-delay: 1400ms !important; }
.animation-delay-1500 { animation-delay: 1500ms !important; } /* Or 1.5s */


// button, .flex-col {
//     border: 1px dashed rgba(188, 131, 0, 0.5)
// }
